@page "/create-category"
@using Microsoft.CodeAnalysis.Elfie.Diagnostics;
@using SupportDashAI.Application.Services.Catalog;
@using SupportDashAI.Contracts.Dto.Catalog;
@inject NavigationManager Navigation
@inject CategoryAppService CategoryAppService

<PageTitle>Create Category</PageTitle>

<h1>Create Category</h1>

<p>This component demonstrates creating category.</p>


<EditForm Model="@categoryModel" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" @bind-Value="categoryModel.Name" />
    <InputText id="description" @bind-Value="categoryModel.Description" />

    <button type="submit">Submit</button>
</EditForm>


@code {
    private CategoryDto categoryModel = new();

    private async Task HandleSubmit()
    {
        await CategoryAppService.Create(categoryModel);
        Navigation.NavigateTo("categories");
        // Process the form
    }
}